body { 
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /***** Wrapper *****/
  .wrapper { display: block; }
  
  /*Nav bar*/
  .navbar{
      background-color: rgb(0, 72, 117);
      padding: 0 15px 2px 10px;
  }
  
  /*toggler*/
  .navbar-toggler{
      font-size: 22px !important;
  }
  
.navbar-toggler .navbar-toggler-icon {
    color:white;
    margin-top: 15px;
}
  
  /*Login button*/
  .loginbtn{
      padding: 3px 15px;
      border-radius: 2px;
      border: none;
      background-color: white;
  }
  
  .loginbtn a{
      color: black;
      font-weight: bold;
  }
  
  /* Nav bar menus*/
  .navbar-collapse .nav-item .nav-link{
      margin-left: 50px;
      color: white;
      text-align: center;
      font-weight: bold;
  }
  
  .navbar-collapse .nav-item .nav-link span{
      font-weight: normal;
  }
  
  /***** Sidebar *****/
  .sidebar {
    width: 250px; height: 100vh; position: fixed; top: 0; left: -255px; z-index: 999; 
    background-color:  rgb(0, 72, 117); color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
  }
  
  .sidebar.active { left: 0; }
  
  .sidebar .nav-item .nav-link{
      color: white;
      text-align: center;
      font-weight: bold;
  }
  
  .sidebar .nav-item .nav-link span{
      font-weight: normal;
  }
  
  .dismiss {
    width: 30px; height: 30px; position: absolute; top: 8px; right: 8px; transition: all .3s; 
    text-align: center; line-height: 30px; cursor: pointer; border-radius: 50%
  }
  
  .dismiss:hover, .dismiss:focus { background: white; color: black; }
  
  /***** Dark overlay *****/
  .overlay {
      display: none; position: fixed; width: 100vw; height: 100vh; 
      background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
  }
  
  .overlay.active { display: block; opacity: 1; }
  